@font-face {
  font-family: Sailec;
  src: url(../Assets/Fonts/Sailec.otf);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  font-family: Sailec;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Sailec;
  font-size: 14px;
}

.outer {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

header {
  padding: 44px 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo {
  width: 93px;
}

header .hamIcon {
  display: none;
}

header .nav_outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_outer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_outer nav ul li {
  margin-right: 36px;
  position: relative;
  cursor: pointer;
}

header .nav_outer nav ul ::after {
  content: '';
  width: 0px;
  bottom: -3px;
  height: 1px;
  left: 0;
  background-color: black;
  position: absolute;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header .nav_outer nav ul :hover::after {
  width: 100%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header .nav_outer .user_ico {
  width: 24px;
  margin-left: 80px;
}

.main_banner {
  height: 100vh;
  width: 100%;
  position: relative;
}

.banner_dark_block {
  height: 100vh;
  width: 60%;
  background-color: #102421;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_dark_block .banner_content {
  width: 498px;
}

.banner_dark_block .banner_content p:nth-child(1) {
  color: #D2D2D2;
  letter-spacing: 0.5em;
  position: relative;
  -webkit-animation-name: animateText;
          animation-name: animateText;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.banner_dark_block .banner_content p:nth-child(2) {
  color: #FFFFFF;
  font-size: 88px;
  font-weight: bold;
  margin: 0;
  position: relative;
  -webkit-animation-name: animateText;
          animation-name: animateText;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.banner_dark_block .banner_content p:nth-child(3) {
  color: #D2D2D2;
  font-size: 22px;
  position: relative;
  -webkit-animation-name: animateText;
          animation-name: animateText;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.banner_dark_block .banner_content .button_wrap {
  margin-top: 100px;
}

.banner_dark_block .banner_content .button_wrap button {
  background-color: #C7E1BF;
  border-radius: 50px;
  border: 0px solid;
  color: #102522;
  padding: 20px 26px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.banner_dark_block .banner_content .button_wrap :nth-child(1) {
  margin-right: 50px;
}

.banner_dark_block .banner_content .button_wrap button:hover {
  background-color: #c7e1bf4a;
  color: #a9a9a9;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.banner_image {
  position: absolute;
  width: 40%;
  height: calc(100vh - 30vh);
  background-image: url(../Assets/Images/banner_img.svg);
  opacity: 0.8;
  top: 15vh;
  right: 0px;
  background-size: cover;
  background-position: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.animateBanner {
  opacity: 1;
  right: 100px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 1660px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 34px 80px;
  }
  header #logo {
    width: 83px;
  }
  header .nav_outer nav ul li {
    margin-right: 25px;
    position: relative;
    cursor: pointer;
  }
  header .nav_outer .user_ico {
    width: 15px;
    margin-left: 30px;
  }
  .banner_dark_block .banner_content {
    width: 400px;
  }
  .banner_dark_block .banner_content p:nth-child(2) {
    font-size: 60px;
  }
  .banner_dark_block .banner_content p:nth-child(3) {
    font-size: 18px;
  }
  .banner_dark_block .banner_content .button_wrap {
    margin-top: 80px;
  }
  .banner_dark_block .banner_content .button_wrap button {
    padding: 15px 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_dark_block {
    width: 100%;
    position: relative;
  }
  .banner_dark_block .banner_content {
    width: 85%;
    position: relative;
    z-index: 2;
  }
  .animateBanner {
    z-index: 1;
    opacity: 0.4;
  }
  header {
    z-index: 3;
    padding: 34px 8%;
  }
  header #logo {
    width: 60px;
  }
  header .hamIcon {
    display: block;
    position: relative;
    z-index: 2;
  }
  header .hamIcon div {
    height: 2px;
    width: 25px;
    background-color: white;
    margin-bottom: 4px;
  }
  header .act_button div:nth-child(3) {
    opacity: 0;
  }
  header .act_button div:nth-child(1) {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    background-color: black;
    margin: 0;
  }
  header .act_button div:nth-child(2) {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    background-color: black;
  }
  header .nav_outer nav ul {
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
    z-index: 1;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav_outer nav ul a {
    opacity: 0;
    margin-bottom: 0rem;
  }
  header .nav_outer nav .active_nav {
    top: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  header .nav_outer nav .active_nav li {
    opacity: 1;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  header .cart {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .banner_dark_block .banner_content p:nth-child(2) {
    font-size: 50px;
  }
  .banner_dark_block .banner_content p:nth-child(3) {
    font-size: 14px;
  }
  .banner_dark_block .banner_content .button_wrap button {
    padding: 10px 9px;
  }
  .banner_dark_block .banner_content .button_wrap :nth-child(1) {
    margin-right: 20px;
  }
  .banner_image {
    width: 0%;
  }
  .animateBanner {
    right: 3%;
    width: calc(100% - 6%);
    opacity: 0.3;
  }
}

@-webkit-keyframes animateText {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes animateText {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */